@import url("https://fonts.googleapis.com/css?family=Roboto:100");


.logo {
  position:absolute;
  top: 20PX;
  left: 30PX;
  width: 300px;
  height: 300px;
  text-align: center;
  animation: animate 3s infinite ease;
}
.logo:before,
.logo:after {
  position: absolute;
  content: '';
  width: 200px;
  height: 200px;
  top: 50px;
  transform: rotate(45deg);
  background: rgba(255, 0, 183, 0.05);
  z-index: 0;
  box-shadow: 0 0 0 1px #fff, 0 0 10px 1px #800075, inset 0 0 10px 1px #260080;
}
.logo:before {
  left: 35px;
}
.logo:after {
  right: 35px;
}
.logo h1 {
  z-index: 100;
  line-height: 300px;
  font-family: Roboto, Sans-Serif;
  letter-spacing: 5px;
  font-size: 40px;
  color: #fff;
  text-shadow: 0 0 6px rgb(140, 0, 255);
}
@-moz-keyframes animate {
  0% {
    width: 300px;
  }
  50% {
    width: 240px;
  }
}
@-webkit-keyframes animate {
  0% {
    width: 300px;
  }
  50% {
    width: 240px;
  }
}
@-o-keyframes animate {
  0% {
    width: 300px;
  }
  50% {
    width: 240px;
  }
}
@keyframes animate {
  0% {
    width: 300px;
  }
  50% {
    width: 240px;
  }
}
